@font-face{
    font-family: oops;
    src: url('/resources/fonts/oops.otf');
}

*{
    font-family: oops;
    overflow: hidden;
}
body{
    margin: 0;
    padding: 0;
    background: black;
    color: white;
}

div{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.664), #000000), url('/resources/imgs/fg.jpg');
    background-size: cover;
}
div h1{
    font-size: 9rem;
    padding-top: 100px;
    font-weight: 100;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}
div h2{
    font-size: 2rem;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
}

@media (max-width:1000px){
    div h1{
        font-size: 7rem;
    }
    div h2{
        font-size: 1rem;
        width: 100%;
        text-align: center;
    }
    div{
    background-position: -300px;
    }
}