*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: rgb(2, 2, 2);
    color: rgb(255, 255, 255);
}
a{
    color: inherit;
    text-decoration: none;
}
header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(50, 6, 76, 0.507), #000000), url('/resources/imgs/bg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}


.nav{
    text-transform: uppercase;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav__links{
    display: block;
    flex:1;
    text-align: right;
    transition: 0.3s all ease;
}
.nav h1{
    font-size: 2.5rem;
    font-weight: 700;
}
.nav__links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.nav__links ul li::after{
    content:'';
    width: 0%;
    height:3px;
    background-color:rgb(255, 0, 132) ;
    display: block;
    margin:auto;
    transition: 0.4s ease;
}

.nav__links ul li:hover::after{
    width: 100%;
}
.nav__links ul li a{
    font-size: 20px;
}

header section{
    width: 90%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
header section h1{
    font-size: 70px;
}
header section p{
    margin: 10px 0 40px;
    font-size: 25px;
    
}
header section a{
    display: inline-block;
    position: relative;
    border: 1px solid white;
    font-size: 25px;
    padding: 13px 45px;
    z-index: 1;
    cursor: pointer;
    transition: 0.5s all ease;
}
header section a:hover{
    color: black;
}
header section a::before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: white;

}
header section a:hover::before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
header div i{
    font-size: 40px;
    display: none;
    z-index: 3;

    transition: 1 all ease;
}
@media(max-width:500px){

    #close{
        cursor: pointer;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 45px;
        margin-right: 30px;
        margin-top: 20px;
    }
    #burger{
        cursor: pointer;
        display: block;
        z-index: 1;
    }
    header section a:hover{
        color: white;
    }
    header section a:hover::before{
        opacity: 0;
    }
    .nav__links ul li{
        display: block;
    }
    .nav__links{
        display:block;
        position: fixed;
        background: rgb(0, 0, 0);
        height: 100vh;
        text-align: left;
        z-index: 2;
        
        width: 180px;
        top: 0;
        padding: 3rem 1rem;
    right: -250px; 
    }
    .nav__links ul li:hover::after{
        width: 0%;
    }
    .nav__links ul li a:hover{
        color: rgb(181, 14, 181);
    }
}


/* About */
#particles-js{
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    opacity: 0.5;
}

.about{
    background-image: linear-gradient(rgba(0, 0, 0, 0.736) 0%, #00000000 50%, black 90%);
    min-height: 100vh;
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}
.about div{
    padding-top: 50p;
    margin: auto;
    text-align: center;
}
.about h1{
    font-size: 4rem;
    font-weight: 700;
}
.about p{
    width: 50%;
    margin: auto;
    font-weight: 350;
    font-size:2rem;
    line-height: 35px;
    padding: 15px;
}
@media(max-width:800px) {
    .about{
    }
    .about h1{
        font-size: 2.7rem;
    }
    .about p{
        width: 80%;
        margin: auto;
        font-size: 1.3rem;
        line-height: 25px;
    }
}
/* About */

/* Members */
#member_avatar{
    width: 70%;
}
.members__wrap{
    background-image:linear-gradient(rgba(18, 2, 22, 0.65) , #000000 ), url('/resources/imgs/members.jpg');
    background-size: cover;
    background-position: 0;
    background-repeat: no-repeat;

    min-height: 100vh;
}
.members{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.members h1{
    font-size: 55px;
}

.row{
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 5%;
}
.col{
    margin: 1rem;
    background-color: #00000066;
    border: 1px solid white;
    border-radius: 6px;
    transition: 0.3s ease;
    padding: 20px 12px;
}
.col h2{
    font-size: 2rem;
    font-weight: 500;
    margin: 15px 0;
}
.col p{
    font-size: 1.3rem;
    font-weight: 300;
}
.col:hover{
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgba(193, 193, 193, 0.388);
}

@media (max-width:1250px){
    #member_avatar{
        width: 60%;
    }
    .row{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:750px){
    .row{
        grid-template-columns: 1fr ;
    }
}
@media (max-width:265px){
    .members h1{
        font-size: 1.8rem;
    }
}

/* FOOTER */

footer{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    color: #dbdbdbd5;
}

footer h2{


    font-weight: 500;
}
.socials i{
    cursor: pointer;
    font-size: 2rem;
    margin: 1%;
}

.socials i:hover{
    color: white;
}


/*PRELOADER*/

#preloader{
    background: black;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100; 
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
