*::-webkit-scrollbar {
    display: none;
  }
*{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #060606;
    color: white;
}
a{
    color: inherit;
    text-decoration: none;
}

/*HEADER*/
.main__container header h1{
    text-align: center;
    font-size: 5rem;
    margin-top: 2rem;
}
.main__container header h1 span{
    color: rgb(122, 34, 255);
}

/*PROGRESS*/
#progress{
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    background: #050505;
    box-shadow: 0px 0px 50px rgba(255, 51, 180, 0.438);
    border-radius: 15px;
}
#bar{
    border-radius: 15px;
    width: 30%;
    height: 50px;
    background-image: linear-gradient( to right, rgb(255, 0, 81), rgb(58, 150, 255));
}
